{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header d-print-none">
        <div class="row align-items-center">
            <div class="col">
                <h2 class="page-title">
                    Manage Account 
                </h2>
            </div>
        </div>
    </div>
    {{ form_start(form) }}
    <div class="card">
        <div class="card-body">
            {{ form_rest(form) }}
        </div>
        <div class="card-footer text-center">
            <button class="btn btn-primary">
                <i class="fas fa-save"></i> Save
            </button>
        </div>
    </div>
    {{ form_end(form) }}
    <p><em>If you only want to change your email address, type in the new address and put your old password in then save.(It's the same process for the Firstname and the Lastname)
    </br>
    But to change your password you need to put the old one and the new ones in the corresponding fields</em></p>
{% endblock %}

